/jTPS/build/
/jTPS/dist/
/CSGManager/build/
/CSGManager/work/
/CSGManager/dist/
/JavaFXApplication7/nbproject/private/
/JavaFXApplication7-Preloader/nbproject/private/
/JavaFXApplication7-Preloader/dist/
/JavaFXApplication7-Preloader/build/
/JavaFXApplication8/nbproject/private/
/JavaFXApplication9/nbproject/private/
/JavaFXApplication9/dist/
/JavaFXApplication9/build/
/JUnitSample/nbproject/private/
/JUnitSample/build/
