/CSGManager/nbproject/private/
/DesktopJavaFramework/build/
/DesktopJavaFramework/dist/
/DesktopJavaFramework/nbproject/private/
/PropertiesManager/build/
/PropertiesManager/dist/
/PropertiesManager/nbproject/private/
/jTPS/build/
/jTPS/dist/
/jTPS/nbproject/private/
/CSGManager/build/
/Testing/nbproject/private/
/Testing/build/